@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


:root{
    --primary-color:#813772;
    --secondary-color: #f5d0fe;
    --white-color: #fff;
    --black-color: #000;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--secondary-color);    
}


h1{
    margin: auto;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: fit-content;
    padding: 0.5rem 2rem;
    text-align: center;
    border-radius: 0.5rem;
}

.container{
    text-align: center;
    width: 20vw;
    padding: 2rem;
    margin: auto;
}

input{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    width: 70%;
    text-align: center;
    border-radius: 0.3rem;
    font-family: 'Quicksand', sans-serif;   
    color: var(--primary-color);
    font-weight: bolder;
    padding: 0.2rem;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
}

label{
    color: var(--primary-color);
    font-weight: bold;
}

button {
    display: block;
    margin: auto;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    font-size: large;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;  
    border-color: var(--secondary-color);
    border-radius: 0.5rem;  
}

#output {
    font-size: large;    
    color: var(--primary-color);
    font-weight: bold;
    margin: 1rem, auto;
    margin-top: 0%;
    text-align: center;
}
